.about {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.about-us {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url(./images/about.jpg);
  text-align: center;
  color: white;
}

.how-it-works {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem auto;
  height: 100%;
}

.how-it-works-text {
  text-align: center;
}

.how-it-wokrs-img {
  width: 40%;
  height: 350px;
}

.how-it-wokrs-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.our-team {
  background-color: #f5f5f5;
  padding: 3rem 2rem 5rem;
}

.our-team h2 {
  text-align: center;
}

.line {
  width: 100px;
  height: 4px;
  background-color: #4caf50;
  margin: 0 auto;
}

.team-members {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 4rem;
}

.team-member {
  width: 350px;
  height: 100%;
  display: flex;
  cursor: pointer;
  padding: 2rem 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(18px) saturate(113%);
  -webkit-backdrop-filter: blur(18px) saturate(113%);
  background-color: rgba(217, 217, 217, 0.22);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.team-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.team-image img {
  width: 100%;
  border-radius: 50%;
}

.team-member h3 {
  margin-bottom: 0rem;
}

.team-member p {
  margin: 1rem 0;
  font-size: 1rem;
}

.team-social-media-links {
  display: flex;
  gap: 1rem;
}

.team-social-media-links a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4caf50;
  color: #ffffff;
}

.testimonials {
  width: 1140px;
  margin: 5rem auto;
}

.testimonials h2 {
  text-align: center;
}

.testimonial-container {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial {
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 8px;
}

.testimonial p {
  font-size: 1rem;
  width: 100%;
}

.user-info span {
  color: #4caf50;
  font-style: italic;
}

.footer {
  background-color: #f5f5f5;
  font-size: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #4caf50;
}
/* Tablets Ipad */

@media screen and (max-width: 1040px) {
  .team-member,
  .testimonial,
  .how-it-wokrs-img {
    width: 90%;
  }

  .testimonials {
    width: 100%;
  }

  .how-it-works,
  .team-members,
  .testimonial-container {
    width: 100%;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
  }

  .about-us {
    height: 30vh;
  }
}

/* Mobile View */

@media screen and (max-width: 600px) {
  .team-image {
    width: 100px;
    height: 100px;
  }

  .about-us h1 {
    font-size: 1.5rem;
  }
  .how-it-works-text {
    padding: 0.5rem;
  }

  .about-us {
    height: 40vh;
  }
}
