.contact {
  /* overflow-x: hidden; */
}

.contact-us {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url(./images/contact\ us.jpg);
  text-align: center;
  color: white;
}

.contact-form-details {
  background-color: #f5f5f5;
  width: 100%;
  padding: 4rem 0;
  gap: 2.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.contact-details {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-detail {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  backdrop-filter: blur(18px) saturate(113%);
  -webkit-backdrop-filter: blur(18px) saturate(113%);
  background-color: rgba(217, 217, 217, 0.22);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.contact-detail a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4caf50;
  color: #ffffff;
}

.contact-detail .details p {
  font-size: 1rem;
  width: 250px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.title {
  font-weight: 700;
}

.contact-details .social-media-links {
  display: flex;
  width: 100%;
  height: 60px;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-evenly;
  backdrop-filter: blur(18px) saturate(113%);
  -webkit-backdrop-filter: blur(18px) saturate(113%);
  background-color: rgba(217, 217, 217, 0.22);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.contact-details .social-media-links a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4caf50;
  color: #ffffff;
}

.contact-form {
  width: 600px;
  padding: 1rem 1rem 2rem;
  backdrop-filter: blur(18px) saturate(113%);
  -webkit-backdrop-filter: blur(18px) saturate(113%);
  background-color: rgba(217, 217, 217, 0.22);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.form-group {
  display: flex;
  flex-direction: column;
}
.form-group label {
  font-size: 1.25;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.form-group input {
  height: 40px;
}

.form-group input,
.form-group textarea {
  padding-inline: 0.5rem;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.form-group textarea {
  min-height: 20vh;
}

.map {
  width: 1140px;
  height: 100%;
  padding: 3rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.address {
  margin: 2rem 0;
}

.address p {
  text-align: center;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

/* Tablets Ipad */

@media screen and (max-width: 1040px) {
  .contact-us {
    height: 30vh;
  }
  .contact-form-details {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
  }

  .map {
    width: 90%;
    padding: 2rem 0;
    margin-bottom: 3rem;
  }

  .map iframe {
    width: 100%;
  }
}

/* Mobile View */

@media screen and (max-width: 600px) {
  .contact-us {
    height: 40vh;
  }

  .contact-form-details {
    margin-bottom: 2rem;
  }
  .contact-details,
  .contact-form {
    width: 90%;
  }

  .contact-us h1 {
    font-size: 1.5rem;
  }
}
