.exercise-page {
  min-height: 100vh;
}

.exercise {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url(./images/exercises.jpg);
  text-align: center;
  color: white;
}

/* Mobile View */

@media screen and (max-width: 600px) {
  .team-image {
    width: 100px;
    height: 100px;
  }

  .about-us h1 {
    font-size: 1.5rem;
  }
  .how-it-works-text {
    padding: 0.5rem;
  }

  .exercise {
    height: 40vh;
  }
}
