.exercise-page {
  min-height: 100vh;
}

.exercise {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url(./images/exercises.jpg);
  text-align: center;
  color: white;
}

.search {
  width: 1140px;
  margin: 0 auto;
  padding: 3rem 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  height: 40px;
  border: 2px solid #4caf50;
  outline: none;
  border-radius: 10px;
  width: 600px;
  padding-inline: 1rem;
  font-size: 1.25rem;
}

.search .icons {
  position: absolute;
  right: 25%;
  font-size: 1.25rem;
}

/* Tablets Ipad */

@media screen and (max-width: 1040px) {
  .exercise {
    height: 30vh;
  }
  .search {
    width: 90%;
  }

  .search .icons {
    right: 20%;
  }

  .map {
    width: 90%;
    padding: 2rem 0;
    margin-bottom: 3rem;
  }

  .map iframe {
    width: 100%;
  }
}

/* Mobile View */

@media screen and (max-width: 600px) {
  .exercise h1 {
    font-size: 1.5rem;
  }

  .exercise {
    height: 40vh;
  }
  .search {
    width: 90%;
    padding: 1.5rem 0.5rem;
  }

  .search .icons {
    right: 10%;
  }
}
