.home-page {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url(./images/bg-image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.home-page .content {
  width: 1440px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  /* padding: 1rem; */
}

.content h1 {
  font-size: 3rem;
  margin-block-start: unset;
  margin-block-end: unset;
}

.content h1 span {
  color: #4caf50;
}

.content p {
  width: 560px;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
}

.content button {
  width: 300px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: #4caf50;
  color: #ffffff;
  transition: all ease-in-out 0.3s;
}

.content button:hover {
  background-color: #345c35;
}

@media screen and (max-width: 600px) {
  .home-page .content {
    width: 90%;
  }

  .content h1 {
    font-size: 2.5rem;
    padding-inline: 1rem;
  }

  .content p {
    font-size: 1rem;
    width: 100%;
    line-height: 1.7rem;
  }

  .content button {
    width: 250px;
  }
}
