.home-page {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url(./images/bg-image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.home-page .content {
  width: 1440px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  gap: 1.5rem;
}

.content h1 {
  font-size: 3rem;
}

.content h1 span {
  color: #4caf50;
}

.content p {
  width: 560px;
  text-align: center;
  font-size: 1.25rem;
}

.content button {
  width: 300px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: #4caf50;
  color: #ffffff;
  transition: all ease-in-out 0.3s;
}

.content button:hover {
  background-color: #345c35;
}
