.signup-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  padding: 2rem 0;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url(./images/sign-up.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}

.signup-container-main {
  position: absolute;
  width: 600px;
  height: 68%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  background: rgba(59, 59, 59, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(92, 91, 91, 0.1);
  backdrop-filter: blur(1.1px);
  -webkit-backdrop-filter: blur(1.1px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.signup-container .signup-container-main .signup-text p {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  margin-bottom: 0.5rem;
}

.signup-container .signup-container-main a {
  color: #4caf50;
  text-decoration: none;
}

.signup-container .signup-container-main form .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.25rem;
}

.signup-container .signup-container-main form .form-group input {
  width: 80%;
  height: 40px;
  border: none;
  outline: none;
  padding-inline: 0.2rem;
  border-radius: 10px;
}

.signup-container .signup-container-main form button {
  /* width: 100%; */
  margin-top: 1rem;
}

/* Tablets Ipad */

@media screen and (max-width: 1040px) {
  .signup-container {
    width: 100%;
    padding: 3rem 0;
  }
}

@media screen and (max-width: 600px) {
  .signup-container {
    width: 100%;
    padding: 4rem 0;
  }
  .signup-container-main {
    width: 90%;
    padding: 1rem 0.5rem;
    height: 80%;
    gap: 1rem;
  }
  .signup-container .signup-container-main .signup-text {
    margin-bottom: 1rem;
  }
  .signup-container .signup-container-main .signup-text h1 {
    font-size: 2rem;
    padding-inline: unset;
  }

  .signup-container .signup-container-main form .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.25rem;
  }

  .signup-container .signup-container-main form .form-group input {
    width: 100%;
    height: 35px;
  }

  .signup-container .signup-container-main form button {
    width: 100%;
    margin-top: 1.5rem;
  }
}
